@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './variables';

/* BODY */

body{
    max-width: 1440px;
    margin: 20px auto 80px auto;
    padding: 0 100px;
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */

header{
    margin-bottom: 40px;
}

/* MAIN */

.photographer-card{
    display: flex;
    padding: 50px;
    background-color: #FAFAFA;
    height: 200px;
    position: relative;
    border-radius: 5px;
    &__info{
        margin-right: 17px;
    }
    &__link{
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__name{
        color: $secondary-color;
        font-size: 4em;
        font-weight: 400;
        margin: 0;
    }
    &__location{
        color: $primary-color;
        font-size: 1.5em;
        margin:0;
    }
    &__description{
        font-size: 1.125em;
        color: #525252;
        margin: 19px 0 15px 0;
    }
    &__categories{
        display: flex;
        padding: 0;
    }
    &__picture{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        right: 50px;
    }
        .tag{
            list-style: none;
            margin-right: 5px;
        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 1.125em;
            color: $primary-color;
            padding: 3px 7px;
            border: 1px solid #C4C4C4;
            border-radius: 11px;
            &:hover, &:focus{
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: white;
            }
        }
    }
    #photographer-card__button{
            width: 170px;
            height: 69px;
            background-color: #901C1C;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            padding: 0;
            font-family: 'DM Sans', sans-serif;
            color: white;
            font-size: 1.25em;
            font-weight: 700;
        }

}

#photographer-form{
    position: relative;
    display: none;
    width: 669px;
    margin: 62px auto;
    flex-direction: column;
    background-color: #DB8876;
    padding: 35px;
    border-radius: 5px;
    h1{
        font-size: 4em;
        margin-top: 0;
    }
    label{        
        font-size: 2.25em;
        color: #312E2E;
        margin: 5px 0;
    }
    input, textarea{           
        font-size: 2.25em;     
        height: 68px;
        border-radius: 5px;
        border: none;
        &:focus{
            outline: none;
        }
    }
    #message{
        height: 170px;
    }
    #submit{
        font-size: 1.125em;
        font-weight: 700;
        color: white;
        height: 69px;
        width: 170px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        margin-top: 26px;
        cursor: pointer;
    }
    #close{
        position: absolute;
        right: 35px;
        border: none;
        padding: 0;
        background-color: transparent;
        color: white;
        font-size: 2.625em;
        cursor: pointer;
    }
}

.sort-by{
    margin: 20px 0 58px 0;
    font-size: 1.125em;
    &__label{
        margin-right: 25px;
    }
    &__select{
        color: white;
        background-color: $primary-color;
        padding: 14px;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        padding-right: 18px;
        &__option{
            padding: 14px;
        }
    }
}

.likes-counter-and-price{
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    justify-content: space-between;
    background-color: #DB8876;
    width: 376px;
    border-radius: 5px 5px 0 0;
    padding: 0px 30px;
    font-size: 1.5em;
    font-weight: 500;
    .like-icon{
        margin-left: 6px;
        font-size: 21px;
    }

}

#pictures-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .picture-card{
        margin-right: 20px;
        &__link-image{
            width: 350px;
            height: 300px;
            object-fit: cover;
            cursor: pointer;
        }
        &__info{
            display: flex;
            justify-content: space-between;
            color: $primary-color;
            font-size: 1.5em;
            &-title{
                color: $primary-color;
                font-weight: 400;
                text-overflow: ellipsis;
                max-width: 250px;
            }
            &-likes{
                display: flex;
                align-items: center;
                font-weight: 500;
                &-icon{
                    margin-left: 7px;
                    font-size: 21px;
                }
            }
        }
    }
}

/* LIGHTBOX */

.lightbox{
    margin: 62px auto;
    border: none;
    display: none;
    align-items: center;
    &__figure{
        max-width: 1250px;
        &-picture{
            max-width: 1050px;
            max-height: 900px;
            border-radius: 5px;
        }
    }
    &__arrows{
        color: $primary-color;
        font-size: 3em;
    }
    &__x{
        color: $primary-color;
        font-size: 2.625em;
        position: absolute;
        top: 32px;
        right: 32px;
    }
}

/* MEDIAS QUERIES */

/* TABLET */

@media (max-width: 1024px){

}

/* MOBILE */

@media (max-width: 768px){
    
}
