@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './variables';

/* BODY */

body{
    max-width: 1440px;
    margin: 20px auto 0 auto;
    padding: 0 100px;
    font-family: 'DM Sans', sans-serif;
}

/* MAIN */

.photographer-card{
    display: flex;
    padding: 50px;
    background-color: #FAFAFA;
    height: 200px;
    position: relative;
    border-radius: 5px;
    &__info{
        margin-right: 17px;
    }
    &__link{
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__name{
        color: $secondary-color;
        font-size: 4em;
        font-weight: 400;
        margin: 0;
    }
    &__location{
        color: $primary-color;
        font-size: 1.5em;
        margin:0;
    }
    &__description{
        font-size: 1.125em;
        color: #525252;
        margin: 19px 0 15px 0;
    }
    &__categories{
        display: flex;
        padding: 0;
    }
    &__picture{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        right: 50px;
    }
        .tag{
            list-style: none;
            margin-right: 5px;
        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 1.125em;
            color: $primary-color;
            padding: 3px 7px;
            border: 1px solid #C4C4C4;
            border-radius: 11px;
            &:hover, &:focus{
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: white;
            }
        }
    }
    #photographer-card__button{
            width: 170px;
            height: 69px;
            background-color: #901C1C;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            padding: 0;
            font-family: 'DM Sans', sans-serif;
            color: white;
            font-size: 1.25em;
            font-weight: 700;
        }

}

#photographer-form{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #DB8876;
    padding: 35px;
    border-radius: 5px;
    h1{
        font-size: 4em;
        margin-top: 0;
    }
    label{        
        font-size: 2.25em;
        color: #312E2E;
    }
    input{        
        height: 68px;
        border-radius: 5px;
        border: none;
    }
    #message{
        height: 170px;
    }
    #submit{
        font-size: 1.125em;
        font-weight: 700;
        color: white;
        height: 69px;
        width: 170px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        margin-top: 26px;
    }
    #close{
        position: absolute;
        right: 35px;
        border: none;
        padding: 0;
        background-color: transparent;
        color: white;
        font-size: 2.625em;
    }
}

/* MEDIAS QUERIES */

/* TABLET */

@media (max-width: 1024px){

}

/* MOBILE */

@media (max-width: 768px){
    
}
