@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './variables';

/* BODY */

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: $font;
}

/* HEADER */

header{
    margin: 20px 100px 40px 100px;
}

/* MAIN */

.photographer-card{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0 100px;
    background-color: #FAFAFA;
    min-height: 200px;
    border-radius: 5px;
    &__info{
        margin-right: 17px;
    }
    &__name{
        color: $secondary-color;
        font-size: 4em;
        font-weight: 400;
        margin: 0;
    }
    &__location{
        color: $primary-color;
        font-size: 1.5em;
        margin:0;
    }
    &__description{
        font-size: 1.125em;
        color: #525252;
        margin: 19px 0 15px 0;
    }
    &__categories{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    &__picture{
        margin-left: auto;
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        box-shadow: 0 0 1rem rgba(70, 66, 66, 0.644);
    }
        .tag{
            list-style: none;
            margin: 13px 5px 0 0;
        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 1.125em;
            color: $primary-color;
            padding: 3px 7px;
            border: 1px solid $border-color;
            border-radius: 11px;
            &--selected, &:hover{
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: white;
            }
        }
    }
}

#photographer-card__button{
    min-width: 170px;
    height: 69px;
    background-color: #901C1C;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
    margin-right: 20px;
    font-family: $font;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
}

#photographer-form{
    position: relative;
    display: none;
    max-width: 599px;
    margin: 62px auto;
    flex-direction: column;
    background-color: $bg-color;
    padding: 20px 35px 35px 35px;
    border-radius: 5px;
    h1{
        font-size: 4em;
        margin-top: 0;
    }
    label{        
        font-size: 2.25em;
        color: #312E2E;
        margin: 5px 0;
    }
    input, textarea{           
        font-size: 2.25em;     
        height: 68px;
        border-radius: 5px;
        border: none;
        padding-left: 15px;
        font-weight: 400;
        &:focus{
            outline: none;
        }
    }        
    textarea{
        padding-top: 10px;
    }
    #message{
        height: 170px;
    }
    #submit{
        font-size: 1.125em;
        font-weight: 700;
        color: white;
        height: 69px;
        width: 170px;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        margin-top: 26px;
        cursor: pointer;
    }
    #close{
        width: 41px;
        height: 41px;
        position: absolute;
        top: 40px;
        right: 35px;
        border: none;
        padding: 0;
        background: url(../images/icons/x-vector.svg);
        font-size: 2.625em;
        cursor: pointer;
        z-index: 99;
    }
    .input-error{
        border: 3px solid $primary-color;
    }
    .form-error__message{
        display: none;
        color: $primary-color;
        font-weight: 700;
        margin: 10px 0 0 0;
    }
    .form-validation{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $bg-color;
        border-radius: 5px;
        font-size: 3em;
        text-align: center;
    }
}

.sort-by{
    display: flex;
    margin: 20px 0 58px 100px;
    font-size: 1.125em;
    &__label{
        margin-right: 25px;
        font-weight: 700;
        font-size: 1.125em;
    }
    &__select{
        display: flex;
        flex-direction: column;
        color: white;
        background-color: $primary-color;
        padding: 14px;
        font-weight: 400;
        font-size: 1.125em;
        width: 170px;
        border: none;
        border-radius: 5px 5px;
        padding-right: 18px;
        &__option{
            font-size: 1em;
        }
    }
}

.likes-counter-and-price{
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    justify-content: space-between;
    background-color: $bg-color;
    width: 376px;
    border-radius: 5px 5px 0 0;
    padding: 0px 30px;
    font-size: 1.5em;
    font-weight: 500;
    z-index: 99;
    .like-icon{
        margin-left: 6px;
        margin-right: auto;
        font-size: 21px;
        align-self: center;
    }

}

#pictures-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px 80px 50px;

    .picture-card{
        margin: 0 auto;
        padding: 0 30px;
        position: relative;
        &__link-image{
            width: 350px;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
        }
        &__video-icon{
            font-size: 30px;
            color: $primary-color;
            position: absolute;
            top: 10px;
            right: 40px;
        }        
        &__date{
            text-align: right;  
            color: $primary-color; 
            font-size: 0.7em;    
            margin: -5px 0 5px 0;         
        }
        &__info{
            display: grid;
            grid-template-areas: "a b c";
            grid-template-columns: 1fr auto auto;
            color: $primary-color;
            font-size: 1.5em;
            margin-bottom: 30px;
            align-items: flex-start;
            &-title{
                grid-area: a;
                font-weight: 400;
                text-overflow: ellipsis;
                max-width: 250px;
                margin: 0;
            }
            &-likes{
                grid-area: b;
                justify-self: right;
                display: flex;
                margin: 0;
                &-icon{
                    margin: 5px 0 0 7px;
                    font-size: 20px;
                    cursor: pointer;
                    align-self: center;
                }
            }
            &-add-like{                
                grid-area: c;
                display: flex;
                align-items: center;
                justify-self: right;
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}

/* LIGHTBOX */

.lightbox{
    position: relative;
    padding: 0;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 90vw;
    margin: auto;
    color: $primary-color;
    .media-container{
        position: relative;
        margin: 0 40px;
        max-width: 100%;
        max-height: 85vh;
        border-radius: 5px;
    }    
    &__video{
        max-width: 100%;
        max-height: 85vh;
        &-title{
            font-size: 1.5em;
            margin: 0;
        }
    }
    &__figure{
        margin: 0;
        &-picture{
            max-width: 100%;
            max-height: 85vh;
        }
        &-figcaption{
            font-size: 1.5em;
        }
    }
    &__arrows{
        cursor: pointer;        
        background: url(../images/icons/arrow-lightbox.svg) center center no-repeat;
        border: none;
        width: 30px;
        height: 48px;
    }
    .left-arrow{
        transform: rotate(180deg);
    }
    &__x{
        position: absolute;
        top: 0;
        right: -75px;
        cursor: pointer;
        border: none;
        background: url(../images/icons/x-lightbox.svg) center center no-repeat;
        width: 42px;
        height: 42px;
    }
}

/* MEDIAS QUERIES */

@media (max-width: 1024px){

    /* HEADER */

    header{
        margin: 20px 20px 0px 20px;
    }

    /* MAIN */

    .photographer-card{
        background-color: white;
        height: auto;
        margin: 0;
        padding: 30px 20px 40px 20px;
        &__info{
            margin-right: 17px;
        }
        &__name{
            font-size: 2.25em;
        }
        &__location{
            font-size: 0.8125em;
        }
        &__description{            
            font-size: 0.8125em;
        }
        &__picture{
            min-width: 120px;
            max-width: 120px;
            height: 120px;
        }

        .tag{
            margin-bottom: 15px;
            &__link{
                font-size: 0.8125em;
            }
        }
    }    

    #photographer-card__button{
        position: fixed;
        bottom: 30px;
        right: 50%;
        margin-right: -85px;
        height: 35px;
        font-size: 1.125em;
        font-weight: 700;
        z-index: 99999;
    }

    .likes-counter-and-price{
        display: none;
    }

    .sort-by{
        display: none;
    }

    #pictures-section{
        margin: 0 0px 70px 0px;
    
        .picture-card{
            padding: 0 20px;
                max-width: 335px;
            &__link-image{
                max-width: 335px;
                height: 190px;
            }
            &__video-icon{
                font-size: 20px;
                top: 10px;
                right: 30px;
            }        
            &__date{
                font-size: 0.5em;    
                margin: -5px 0 0 0;         
            }
            &__info{
                font-size: 0.875em;
                margin-bottom: 10px;                
                &-likes{
                    &-icon{
                        margin-top: 4px;
                        margin-left: 7px;
                        font-size: 11px;
                        cursor: pointer;
                    }
                }
                &-add-like{                
                    grid-area: c;
                    display: flex;
                    align-items: center;
                    justify-self: right;
                }
            }
        }
    }
    
    /* LIGHTBOX */
    .lightbox__figure-figcaption{
        font-size: 0.875em;
    }
    .lightbox{
        .media-container{
        margin: 0 10px;
        }    
        &__arrows{
            width: 9px;
            height: 14px;
        }
        &__x{
            width: 12px;
            height: 12px;
            right: -50px;
        }
    }
}

@media (max-width: 768px){
    #photographer-form{
        margin: 0;
        h1{
            font-size: 2.25em;
        }
        label{        
            font-size: 1.5em;
        }
        input, textarea{           
            font-size: 1.5em;
        }
        #message{
            height: 170px;
        }
        #submit{
            font-size: 1.125em;
            height: 35px;
            margin: 26px auto 0 auto;
        }
        #close{
            width: 19px;
            height: 19px;
            top: 27px;
        }
    }
}
