@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* BODY */
body {
  max-width: 1440px;
  margin: 20px auto 0 auto;
  font-family: 'DM Sans', sans-serif;
}

/* HEADER */
#to-main {
  display: none;
  position: fixed;
  text-decoration: none;
  color: black;
  left: 50%;
  margin: -14px 0 0 -107px;
  z-index: 9999;
  background-color: #DB8876;
  font-weight: 700;
  font-size: 1.125em;
  width: 182px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  padding: 0;
}

.logo {
  margin: 10px 86px 0 100px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories--banner {
  padding: 0 450px 0 0px;
}

.categories .tag {
  list-style: none;
  margin: 10px 0 0 5px;
}

.categories .tag__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.75em;
  color: #901C1C;
  padding: 3px 7px;
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  cursor: pointer;
}

.categories .tag__selected {
  background-color: #901C1C;
  border: 1px solid #901C1C;
  color: white;
}

/* MAIN */
main {
  position: relative;
}

h1 {
  position: absolute;
  margin: 0;
  right: 90px;
  top: -140px;
  font-size: 2.25em;
  font-weight: 400;
  color: #901C1C;
}

#photographers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photographer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
  min-width: 33%;
}

.photographer-card__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographer-card__picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.photographer-card__name {
  color: #D3573C;
  font-size: 2.25em;
  font-weight: 400;
  margin: 15px 0 0 0;
}

.photographer-card__location {
  color: #901C1C;
  font-size: 0.8125em;
  margin: 0;
}

.photographer-card__description {
  font-size: 0.625em;
  margin: 3px 0;
}

.photographer-card__price {
  color: #757575;
  font-size: 0.5625em;
  margin: 0;
}

.photographer-card__categories {
  padding: 0;
  margin: 6px 0 0 0;
}

/* MEDIAS QUERIES */
/* TABLET */
@media (max-width: 1024px) {
  .banner {
    display: block;
  }
  .categories--banner {
    padding: 0;
  }
  h1 {
    top: -140px;
    font-size: 1.7em;
  }
  #photographers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photographer-card {
    min-width: 40%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .logo {
    margin: 10px 50px 0 20px;
  }
  .logo img {
    width: 160px;
  }
  .categories--banner {
    margin: 20px 30px;
  }
  h1 {
    right: 20px;
    font-size: 0.875em;
  }
  #photographers {
    margin-right: 0;
  }
  .photographer-card {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */