@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './variables';

/* BODY */

body{
    max-width: 1440px;
    padding: 44px 0px;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */

.toMain {
    display: none;
}

.banner{
   display: flex;
   height: 150px;
   padding: 0;  
}

.logo{
    margin: 10px 50px 0 50px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--banner{
        padding-right: 450px;
    }
    .tag{
        list-style: none;
        margin:10px 0 0 5px;
        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 0.75em;
            color: $primary-color;
            padding: 3px 7px;
            border: 1px solid #C4C4C4;
            border-radius: 11px;
            &:hover, &:focus{
                background-color: $primary-color;
                border: $primary-color;
                color: white;
            }
        }
    }
}

/* MAIN */

main{
    position: relative;
}

h1{
    position: absolute;
    margin: 0;
    right: 70px;
    top: -140px;
    font-size: 2.25em;
    font-weight: 400;
    color: $primary-color;
}

.photographers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
}

.photographer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    min-width: 25%;
    &__picture{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        img{
            object-position: -10px -10px;
        }
    }
    &__name{
        color: $secondary-color;
        font-size: 2.25em;
        font-weight: 400;
        margin-bottom: 0;
    }
    &__location{
        color: $primary-color;
        font-size: 0.8125em;
        margin: 0;
    }
    &__description{
        font-size: 0.625em;
        margin: 3px 0;
    }
    &__price{
        color: #757575;
        font-size: 0.5625em;
        margin: 0;
    }
    &__categories{
        padding: 0;
        margin: 6px 0 0 0;
    }
}

/* MEDIAS QUERIES */

/* TABLET */

@media (max-width: 1024px){

    .banner{
        display: block;
    }

    .categories--banner{
        padding: 0;
    }

    h1{
        top: -140px;
        font-size: 1.7em;
    }

    .photographers{
        justify-content: center;
    }

    .photographer-card{
        min-width: 40%;
    }
}

/* MOBILE */

@media (max-width: 768px){
    .logo{
        margin: 10px 50px 0 20px;
        img{
            width: 160px;
        }
    }

    .categories--banner{
        margin: 20px 30px;
    }
    
    h1{
        right: 20px;
        font-size: 0.875em;
    }

    .photographers{
        margin-right: 0;
    }

    .photographer-card{
        width: 100%;
    }
}
