@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './variables';

/* BODY */

body{
    max-width: 1440px;
    margin: 20px auto 0 auto;
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */

#to-main {
    display: none;
    position: fixed;
    text-decoration: none;
    color: black;
    left: 50%;
    margin: -14px 0 0 -107px;
    z-index: 9999;
    background-color: #DB8876;
    font-weight: 700;
    font-size: 1.125em;
    width: 182px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.banner{
   display: flex;
   height: 150px;
   padding: 0;  
}

.logo{
    margin: 10px 86px 0 100px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &--banner{
        padding: 0 450px 0 0px;
    }
    .tag{
        list-style: none;
        margin:10px 0 0 5px;
        &__link{
            text-decoration: none;
            font-weight: 500;
            font-size: 0.75em;
            color: $primary-color;
            padding: 3px 7px;
            border: 1px solid #C4C4C4;
            border-radius: 11px;
            cursor: pointer;
        }
        &__selected{
            background-color: $primary-color;
            border: 1px solid $primary-color;
            color: white;
        }
    }
}

/* MAIN */

main{
    position: relative;
}

h1{
    position: absolute;
    margin: 0;
    right: 90px;
    top: -140px;
    font-size: 2.25em;
    font-weight: 400;
    color: $primary-color;
}

#photographers-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -60px;
}

.photographer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    min-width: 25%;
    &__link{
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__picture{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
    }
    &__name{
        color: $secondary-color;
        font-size: 2.25em;
        font-weight: 400;
        margin: 15px 0 0 0;
    }
    &__location{
        color: $primary-color;
        font-size: 0.8125em;
        margin: 0;
    }
    &__description{
        font-size: 0.625em;
        margin: 3px 0;
    }
    &__price{
        color: #757575;
        font-size: 0.5625em;
        margin: 0;
    }
    &__categories{
        padding: 0;
        margin: 6px 0 0 0;
    }
}

/* MEDIAS QUERIES */

/* TABLET */

@media (max-width: 1024px){

    .banner{
        display: block;
    }

    .categories--banner{
        padding: 0;
    }

    h1{
        top: -140px;
        font-size: 1.7em;
    }

    #photographers{
        justify-content: center;
    }

    .photographer-card{
        min-width: 40%;
    }
}

/* MOBILE */

@media (max-width: 768px){
    .logo{
        margin: 10px 50px 0 20px;
        img{
            width: 160px;
        }
    }

    .categories--banner{
        margin: 20px 30px;
    }
    
    h1{
        right: 20px;
        font-size: 0.875em;
    }

    #photographers{
        margin-right: 0;
    }

    .photographer-card{
        width: 100%;
    }
}
